<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title WebGL Learning
		link(rel="stylesheet", href="css/main.css")
	body
		form.control.js-control(action="#", method="post")
			button(type="button", data-action="resetCamera") reset camera
		script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js')
		script(src='js/OrbitControl.js')
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.4.0/Tween.min.js')
		script(src='js/stats.js')
		script(src='js/threex.rendererstats.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js')
		script(src='js/main.js')